# Format
/*.txt linguist-language=fundamental linguist-detectable
/lists/*.txt linguist-language=fundamental linguist-detectable
/regex/*.txt linguist-language=regex linguist-detectable

# Auto detect text files and perform LF normalization
* text=auto eol=lf